@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #000208;
    color: #fff;
}

#nprogress .bar {
    background: rgb(239, 68, 68);
}

.body-minimum-height {
    min-height: calc(100vh - 224px - 64px);
}
