@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply selection:bg-pink-500 selection:text-white;
    }
}

@layer components {
    .sidebar-nav {
        @apply text-white cursor-pointer h-12 px-5 flex items-center border-b border-gray-800 bg-transparent;
    }
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000208;
    color: #fff;
}

#nprogress .bar {
    background: rgb(147, 51, 234);
    background: linear-gradient(
        90deg,
        rgba(147, 51, 234, 1) 0%,
        rgba(219, 39, 119, 1) 100%
    );
}

.body-minimum-height {
    min-height: calc(100vh - 5rem - 14rem);
}
